* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* -------    Header   ------  */
header {
    /* background-color: aqua; */
    height: 70px;
    display: flex;
    background-color: #0F766E;
    color: white;
}

nav {
    /* background-color: azure; */
    width: 90%;
    margin: auto;
    display: flex;
    height: 60px;
    align-items: center;
    /* justify-content:space-around; */
}

nav ul {
    display: flex;
    list-style: none;
    width: 95%;
    justify-content: space-evenly;
}

li a {
    text-decoration: none;
    color: white;
}

/*  ------  Fin Header ------   */
                            /* page index */ 

/* section 1 / 2 */ 
section:first-child  {
    background-color: azure;
    padding-bottom: 1px;
}

.container-thumbnail { 
    border: 1px solid black;
    width: 361px;
    border-radius: 12px;
    font-size: 12px;
    background-color: #D9D9D9;
    box-shadow: 3px 3px 4px -2px;
    margin-top: 50px;
    overflow: auto;
}

.big-box {
    display: flex;
    justify-content: space-between;
}

.container-product { 
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}

.container-product a {
    
}

.image_box {
    width: 62%;
    height: 252px;
    position: relative;
    margin: auto;
}

.image_box img {
    width: 100%;
    padding-top: 15px;
}

.box_title_product {
    background-color: #14B8A6;
    height: 55px;
}

.box_title_product h4, p {
    padding: 3px 3px;
}

.disabled { 
    pointer-events: none; 
} 

/* .pagination {
    margin: auto; 
    width: 627px;
}  */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
  }
  
.pagination ul {
    list-style: none;
}

.pagination a {
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin: 0 4px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
  
  .pagination a:hover,
  .pagination .active {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }

ul {
    display:flex; 
    justify-content: space-evenly;
}

section:last-child {
    background-color: bisque;
    padding-bottom: 115px;
    padding-top: 1px;
}

h2 {
    text-align: center;
    padding-top: 60px;
}

footer {
    height: 110px;
    background-color: #0F766E;
}

.container-footer {
    height: 55px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    color: white;
}

/* -------- login ---------- */

.container-login {
    background-color: #14B8A6;
    margin-top: 75px;
    height: 500px;
    width: 60%;
    margin: auto;
    border-radius: 8px;
    margin-top: 7%;
    padding-bottom: 16px;
}

.container-form-login {
    width: 49%;
    margin: auto;
    padding-top: 28px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}       

.button {
    width: 30%;
    margin: 24px 34%;
}

/*  ------- register.php -------- */

.container-register {
    background-color: #14B8A6;
    margin-top: 75px;
    width: 60%;
    margin: auto;
    border-radius: 8px;
    margin-top: 4%;
    padding-bottom: 63px;
}

.container-form-register {
    width: 49%;
    margin: auto;
    padding-top: 28px;
}

/* --------- profil ----------- */ 

.container-cart-profil {
    margin: auto;
    width: 80%;
    border: #333;
}

.container-table {
    margin: auto;
    margin-top: 40px;
} 

#cart {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #cart td, #cart th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #cart tr:nth-child(even){background-color: #f2f2f2;}
  
  #cart tr:hover {background-color: #ddd;}
  
  #cart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
/* --------- product ---------- */

.container-product-page {
    display: flex;
    padding-top: 73px;
}

.image-box {
    /* width: 60%; */
    margin: auto;
    width: 588px;
}

.container-image {
    /* width: 300%; */
    width: 832px;
}

.container-image img {
    width: 100%;
}

.right-side {
    width: 40%;
}

.right-side article {
    /* padding-top: 63px; */
    text-align: justify;
}

.right-side article h3 {
    font-size: 22px;
    padding-bottom: 20px;
}

.container-form-quantity {
    width: 165px;
    margin: auto;
    padding-top: 48px;
}

.login-button {
    background-color:#44c767;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:16px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.login-button:hover {
	background-color:#5cbf2a;
}
.login-button:active {
	position:relative;
	top:1px;
}

.green-button {
    color: white;
    background-color: #14B8A6;
}

/* --------  add_product.php ------- */

.flex {
    display: flex;
}

.category input {
    width: inherit;
}

/* -------- product_change.php -------- */

.box-img {
    width: 37%;
    margin: auto;
}

/* -------- admin dashboarf ---------*/

.width-category-dashbord {
    width: 29% ;
}

.add-product-button {
    background-color:#44c767;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:16px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    text-align: center;
}
.add-product-button:hover {
	background-color:#5cbf2a;
}
.add-product-button:active {
	position:relative;
	top:2px;
}

a.add-product-button {
    display: block;
    margin: auto;
    width: 190px;
    margin-top: 25px;
}

.no-underline {
    text-decoration: none;
}

.button-box {
    width: 95%;
    display: flex;
    padding-bottom: 12px;
}
