

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  list-style-type: none;
}
/* -------    Header   ------  */



li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #63C7B2
}

header {
  position: relative;
  padding: 0 8px;
  background-color: #0F766E;
}

.navbar {
   width: 100%;
   max-width: 1200px;
   height: 60px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem
}

.navbar .burger-menu-button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.buttons {
  display: flex;
  gap: 10px
}

.action-button {
  background-color: #63C7B2;
  color: #120d31;
  border: 1px solid #63C7B2;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.action-button:hover {
  color: #fff;
  border: 1px solid #fff;
}

.pro {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.pro:hover {
  background-color: #fff;
  color: #120d31
}

/* ---------- BURGER MENU -----------*/

.burger-menu {
  display: none;
  height: 0;
  /* height: 310px; */
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu.open {
  height: 310px;
  z-index: 1;
}

.burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 1px;
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.burger-menu .action-button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttons-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.burger-menu.open ul {
  display: inherit;
}


/* header {
  display: flex;
  background-color: #0F766E;
  color: white;
}
*/
.logo {
position: relative;
width: 57px;
padding-top: 5px;
}

.logo img {
width: 100%;
height: 100%;
}
/*
nav {
  width: 90%;
  margin: auto;
  display: flex;
  height: 60px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 95%;
  justify-content: space-evenly;
}

li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
color: #FFC50B;
} */
/*  ------  Fin Header ------   */
                          /* page index */ 

/* section 1 / 2 */ 
section:first-child  {
  background-color: azure;
  padding-bottom: 1px;
}

.container-thumbnail { 
  border: 1px solid black;
  width: 361px;
  border-radius: 12px;
  font-size: 12px;
  background-color: #D9D9D9;
  box-shadow: 3px 3px 4px -2px black;
  margin-top: 50px;
  overflow: auto;
}

.container-thumbnail a, .container-product a {
text-align: center;
text-decoration: none;
color: white;
font-size: 12px;
}

.container-thumbnail a:hover, .container-product a:hover {
color: #FFC50B;
}

.big-box {
  display: flex;
  justify-content: space-between;
}

.container-product { 
  display: flex; 
  justify-content: space-evenly; 
  flex-wrap: wrap; 
}



.image_box {
  width: 62%;
  height: 252px;
  position: relative;
  margin: auto;
}

.image_box img {
  width: 100%;
  padding-top: 15px;
}

.box_title_product {
  background-color: #14B8A6;
  height: 55px;
}

.box_title_product h4, p {
  padding: 3px 3px;
}

.disabled { 
  pointer-events: none; 
} 

/* .pagination {
  margin: auto; 
  width: 627px;
}  */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.pagination ul {
  list-style: none;
}

.pagination a {
color: #333;
text-decoration: none;
border: 1px solid #ccc;
padding: 6px 12px;
margin: 0 4px;
border-radius: 4px;
transition: all 0.3s ease;
}

.pagination a:hover,
.pagination .active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

ul {
  display:flex; 
  justify-content: space-evenly;
}

section:last-child {
  background-color: bisque;
  padding-bottom: 115px;
  padding-top: 1px;
}

h2 {
  text-align: center;
  padding-top: 60px;
}
/* 
footer {
  height: 110px;
  background-color: #0F766E;
  width: 100%;
}

.container-footer {
  height: 55px;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  color: white;
} */

/***** footer ************/

footer {
  background-color: #0F766E;
  padding: 20px;
  /* display: flex; */
  justify-content: space-between;
  color: white;
  width: 100%;
}

.footer-contact h3,
.footer-links h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  /* display: inherit; */
}

.footer-contact ul,
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}

.footer-contact ul li,
.footer-links ul li {
  margin-bottom: 5px;
}

.footer-contact ul li a,
.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-contact ul li a:hover,
.footer-links ul li a:hover {
  color: #FFC50B;
  /* text-decoration: underline; */
}



/* -------- login ---------- */

.container-login {
  background-color: #14B8A6;
  margin-top: 75px;
  height: 500px;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  margin-top: 7%;
  padding-bottom: 16px;
}

.container-form-login {
  width: 49%;
  margin: auto;
  padding-top: 28px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}       

.button {
  width: 30%;
  margin: 24px 34%;
}

/*  ------- register.php -------- */

.container-register {
  background-color: #14B8A6;
  margin-top: 75px;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  margin-top: 4%;
  padding-bottom: 63px;
}

.container-form-register {
  width: 49%;
  margin: auto;
  padding-top: 28px;
}

/* --------- profil ----------- */ 

.container-cart-profil {
  margin: auto;
  width: 80%;
  border: #333;
}

.container-table {
  margin: auto;
  margin-top: 40px;
} 

#cart {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cart td, #cart th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cart tr:nth-child(even){background-color: #f2f2f2;}

#cart tr:hover {background-color: #ddd;}

#cart th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
/* --------- product ---------- */

.container-product-page {
  display: flex;
  padding-top: 73px;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.image-box {
  /* width: 60%; */
  margin: auto;
  width: 100%;
}

.container-image {
  /* width: 300%; */
  width: 488px;
}

.container-image img {
  width: 100%;
}

.right-side {
  width: 40%;
}

.right-side article {
  /* padding-top: 63px; */
  text-align: justify;
}

.right-side article h3 {
  font-size: 22px;
  padding-bottom: 20px;
}

.container-form-quantity {
  width: 165px;
  margin: auto;
  padding-top: 48px;
}

.login-button {
  background-color:#44c767;
border-radius:10px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:16px;
padding:16px 20px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
}
.login-button:hover {
background-color:#5cbf2a;
}
.login-button:active {
position:relative;
top:1px;
}

.green-button {
  color: white;
  background-color: #14B8A6;
}

/* --------  add_product.php ------- */

.flex {
  display: flex;
}

.category input {
  width: inherit;
}

/* -------- product_change.php -------- */

.box-img {
  width: 45%;
  margin: auto;
}

.box-img img {
  width: 100%;
}

textarea {
  width: 100%;
}

/* -------- admin dashboard ---------*/

.width-category-dashbord {
  width: 29% ;
}

.add-product-button {
  background-color:#44c767;
border-radius:10px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:16px;
padding:16px 20px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
  text-align: center;
}
.add-product-button:hover {
background-color:#5cbf2a;
}
.add-product-button:active {
position:relative;
top:2px;
}

a.add-product-button {
  display: block;
  margin: auto;
  width: 190px;
  margin-top: 25px;
}

.no-underline {
  text-decoration: none;
}

.card-font-size {
  font-size: 12px;
  padding: 0px 11px;
}

a.admin-action-button {
  width: 126px;
  font-size: 12px;
  padding: 3px 17px;
  
}

.button-box {
  width: 95%;
  display: flex;
  padding-bottom: 12px;
  margin: auto;
}

/*  ---------- cart.php ------- */

.container-button-cart {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-button-cart button {
  background-color: #44c767;
  border-radius: 10px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 16px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.container-button-cart button:hover {
background-color:#5cbf2a;
}
.container-button-cart:active {
position:relative;
top:2px;
}

.red {
  background-color: red;
}

/**  cart responsive  **/

.title {
  display: none;
}

.container-cart-responsive {
  width: 95%;
  margin: auto;
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  display: none;
}

.cart-product {
  width: 405px;
  /* border: 1px solid; */
  margin-top: 18px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 4px 4px 7px -2px;
}

.card-product:hover {
  border: 1px solid;
  box-shadow: 1px 1px 10px -2px;
}

.container-cart-img {
  /* border: 1px solid; */
  width: 214px;
  position: relative;
}

.box-cart-img {
  width: 150px;
  margin: auto;
}

.box-cart-img img {
  width: 100%;
}

.cart-description {
  width: 100%;
  position: relative;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cart-description h2 {
  padding: inherit;
  font-size: 12px;
}

.box-detail-cart {
  display: flex;
  background-color: #b9dfd1;
}

.total-price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100;
  height: fit-content;
  padding: 10px 0px;
  background-color: #63C7B2;
}

.total-price a {
  padding: 7px 9px;
  background-color: #f40646;
}

.total-price a:hover {
  background-color: #cc2b56;
  color:white;
}

.total-cart {
  display: none;
  width: 100%;
  background-color: #63C7B2;
  /* text-align: center; */
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.red-button button{
  border-radius: 10px;
  padding: 7px 9px;
  background-color: #f40646;
  cursor: pointer;
  color: white;
}

.red-button button:hover {
  background-color: #cc2b56;
}

.validation-button button {
  border-radius: 10px;
  padding: 7px 9px;
  background-color: #0F766E;
  cursor: pointer;
  color: white;
}

.validation-button button:hover {
  background-color: #2ba58c;
}
/*recherche */

/* Styles pour la barre de recherche */
#mon-formulaire {
position: relative;
display: flex;
align-items: center;
max-width: 500px;
/* margin: 0 auto; */
/* width: 52%; */
}

#mon-formulaire input[type="text"] {
font-size: 16px;
padding: 10px 15px;
border: none;
border-bottom: 2px solid #ccc;
outline: none;
width: 100%;
transition: border-bottom-color 0.2s ease-in-out;
margin-top: 15px;
}

#mon-formulaire input[type="text"]:hover,
#mon-formulaire input[type="text"]:focus {
border-bottom-color: #555;
}

#mon-formulaire button[type="submit"] {
background-color: #555;
color: #fff;
border: none;
padding: 10px 20px;
margin-left: 10px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

#mon-formulaire button[type="submit"]:hover {
background-color: #333;
}

#mon-formulaire #suggestions {
position: absolute;
top: 91%;
left: 0;
right: 0;
background-color: #fff;
border: 1px solid #ccc;
z-index: 1;
width: 100%;
box-sizing: border-box;
padding: 0px;
border-top: 1px solid #0F766E;
}

.result-box {
display: flex;
align-items: center;
padding: 11px;
}

.result-box:hover {
background-color: #14B8A6;
}

.img-search {
width: 106px;
}

.result-box a {
text-decoration: none;
color: black
}

#mon-formulaire input[type="text"]:focus + #suggestions {
display: block;
}

#mon-formulaire #image {
display: none;
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
}

#mon-formulaire:hover #image {
display: block;
}

/* Styles pour rendre la barre de recherche responsive */
@media only screen and (max-width: 768px) {
#mon-formulaire {
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

#mon-formulaire input[type="text"], #mon-formulaire button[type="submit"] {
  padding: 8px;
  font-size: 14px;
}

#mon-formulaire input[type="text"] {
  border-radius: 0;
  border-bottom: none;
  margin-bottom: 10px;
}

#mon-formulaire button[type="submit"] {
  border-radius: 0;
}

#mon-formulaire #suggestions {
  padding: 5px 10px;
}
}
/*facturation*/

/* Styles pour le formulaire d'adresse */

.container-addresse-form {
  width: 80%;
  margin: auto;
}

.form-fact {

display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 800px;
margin: 15px auto;
border-radius: 15px;
}

.form-fact label {
font-size: 16px;
margin: 15px;
margin-bottom: 5px;
}

.form-fact input[type="text"] {
font-size: 16px;
padding: 10px;
border: none;
margin: 15px auto;
border-bottom: 2px solid #ccc;
outline: none;
width: 100%;
transition: border-bottom-color 0.2s ease-in-out;
}

.form-fact input[type="text"]:hover,
.form-fact input[type="text"]:focus {
border-bottom-color: #555;
}

.form-fact input[type="submit"] {
background-color: #555;
color: #fff;
border: none;
padding: 10px 20px;
margin-top: 10px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
width: 100%;
}

.form-fact input[type="submit"]:hover {
background-color: #333;
}

/* Styles pour les champs facultatifs */
.form-fact input[type="text"].facultatif {
font-style: italic;
color: #ccc;
}

/* Styles pour les messages d'erreur */
.form-fact input[type="text"].erreur {
border-bottom-color: #f00;
}

.form-fact .message-erreur {
font-size: 14px;
color: #f00;
margin-top: 5px;
}

/**** success *****/

#succes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;  
  background-color: inherit;
}

/* ---------- RESPONSIVE ------------*/ 

@media (width >= 1080px) {

  .container-cart-responsive {
    display: none;
  }
  
  .total-cart {
    display: none;
  }

}


@media (max-width: 1331px) {
  /** product card for index, shop page **/
  .image_box {
    width: 62%;
    height: 193px;
    position: relative;
    margin: auto;
  }

  .container-thumbnail {
  width: 270px;
  }

  .container-cart-responsive {
    display: none;
  }  

  .total-cart {
    display: none;
  }
}


@media (max-width: 1008px) {
/**** header ****/
  header {
      background: #0F766E;
  }

  .navbar .links,
  .navbar .action-button {
      display: none;
  }

  .navbar .burger-menu-button {
      display: block;
  }

  .burger-menu {
      display: block;
  }

 /**** product page ****/
  
  .container-image {
    width: 347px;
  }

  .right-side {
    width: 466px;
  }
/***** cart page *****/

.container-cart-profil, .container-button-cart {
  display: none;
} 

.container-cart-responsive {
  display: block;
  width: 95%;
  margin: auto;
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  }

  .total-cart {
    display: block;
    width: 100%;
    background-color: #63C7B2;
    /* text-align: center; */
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }

  .title {
    display: block;
    text-align: center;
  }

  h3.cart-status  {
    text-align: center;
  }

  /** footer ***/
}


@media (max-width: 945px) {
  .container-image {
    width: 241px;
  }

  .right-side {
    /* width: 389px; */
    width: 50%;
  }

  .right-side p:nth-child(1) {
    border-style: inset;
    height: 190px;
    overflow: auto;
  }

  /***** cart page *****/ 

  .box_title_product h4, p {
    padding: 3px 3px;
    font-size: 10px;
  }

  .cart-product {
    width: 271px;
  }  

  .box-cart-img {
    width: 113px;
  }

  .total-price a{
    font-size: 11px;
  }

}

@media (max-width: 561px) {
  /** product card for index, shop page **/
  .image_box {
    width: 62%;
    height: 131px;
    position: relative;
    margin: auto;
  }

  .container-thumbnail {
    width: 177px;
  }

  /*** page producct ***/
  .container-product-page {
    display: unset;
  }

  .container-image {
    margin: auto;
  }

  .container-image img {
    width: 100%;
    margin-top: 25px;
  }  
  
  .right-side article h3 {
    text-align: center;
  }

  .right-side {
    padding-top: 25px;
    /* width: 389px; */
    width: 90%;
    margin: auto;
}

  /*** admin dash board ***/

  a.admin-action-button {
    width: 74px;
    padding: 4px 4px;

  }
}